<%- errorMessagesFor(user) %>
<div class="control-group">
   <%- form.label("Email Address", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("emailaddress") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("password", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("password") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("firstname", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("firstname") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("lastname", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("lastname") %>
   </div>
</div>
