<div class="page-header">
    <h1>Details of user <%= user.emailaddress %></h1>
</div>
<table class="table table-bordered">
    <tbody>
        <tr><th>password</th><td><%= user.password %></td></tr>
        <tr><th>firstname</th><td><%= user.firstname %></td></tr>
        <tr><th>lastname</th><td><%= user.lastname %></td></tr>    
    </tbody>
</table>

<div class="well">
    <%- link_to('<i class="icon-edit icon-white"></i> Edit', path_to.edit_account_user(params.account_id, user), {class: 'btn btn-primary'}) %>
    <%- link_to('<i class="icon-remove icon-white"></i> Delete', path_to.account_user(params.account_id, user), {class: 'btn btn-danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'}) %>
    or
    <%- link_to('Back to index', path_to.account_users(params.account_id)) %>
</div>