<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <%- stylesheet_link_tag('bootstrap', 'style', 'bootstrap-responsive','noductionstyle') %>
        <%- javascript_include_tag('jquery-1.7.1-min', 'bootstrap', 'rails', 'application') %>
        <%- csrf_meta_tag() %>
    </head>
    <script>
	
	    $(document).ready(function() {
			try
			{
				 <% var flash = request.flash('info').pop(); if (flash) { %>
			    	showMessage("<%- flash %>", "info", 5000);
			    <% } %>
			    
			    <% flash = request.flash('error').pop(); if (flash) { %>
			    	showMessage("<%- flash %>", "error", 5000);
			    <% }; %>
			    
			    <% flash = request.flash('warning').pop(); if (flash) { %>
			    	showMessage("<%- flash %>", "warning", 5000);
			    <% }; %>
			    
			    <% flash = request.flash('success').pop(); if (flash) { %>
			    	showMessage("<%- flash %>", "success", 5000);
			    <% }; %>
			}
			catch(err)
			{
				console.log(err.toString());
			}
		 }); 
    
    </script>
    <body>
        <div class="component_container">
            <% var flash = request.flash('info').pop(); if (flash) { %>
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% } %>
            
            <% flash = request.flash('error').pop(); if (flash) { %>
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% }; %>
            
            <%- body %>
        </div>
    </body>
</html>